@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #1e1e1e;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.ticker {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  overflow-x: hidden;
}
@keyframes marquee1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
.ticker > span {
  display: inline-block;
  padding: 0 4px;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  color: #fff;
}
.ticker__span1 {
  animation: marquee1 20s infinite linear;
  animation-delay: -20s;
}
.ticker__span2 {
  animation: marquee2 20s infinite linear;
  animation-delay: -10s;
}
.ticker > span:after {
  content: "Бегущая строка Бегущая строка Бегущая строка ";
}

.button {
  display: inline-block;
  padding: 10px 40px 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  border: 1px solid #7042f3;
  border-radius: 48px;
  background-color: #7042f3;
  transition: transform ease-in-out 0.12s;
  will-change: transform;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.02);
}
.button:active {
  transform: scale(1);
}
.button_secondary {
  padding: 11px 20px;
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
}

.input {
  position: relative;
  display: block;
  width: 100%;
  padding: 14px 20px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  border: none;
  border-radius: 48px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}
.input::-moz-placeholder {
  color: #808080;
}
.input::placeholder {
  color: #808080;
}
.input[type=date] {
  background: url(../assets/calendar.svg) right 20px center no-repeat;
  background-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
.input[type=date]::-webkit-calendar-picker-indicator {
  height: 20px;
  width: 20px;
  opacity: 0;
  cursor: pointer;
}
.input[type=time] {
  background: url(../assets/clock.svg) right 20px center no-repeat;
  background-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
.input[type=time]::-webkit-calendar-picker-indicator {
  height: 20px;
  width: 20px;
  opacity: 0;
  cursor: pointer;
}

.app {
  position: relative;
  min-height: 100vh;
  max-width: 440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background: url(../assets/app-bg.jpg) center no-repeat;
  background-size: cover;
  background-color: #1f1d2c;
}

.main > * {
  min-height: 100vh;
  padding: 57px 20px 36px;
  box-sizing: border-box;
}

.first-screen {
  display: flex;
  flex-direction: column;
}
.first-screen__buttons {
  flex: 1 1 auto;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 14px;
}
.first-screen__button {
  flex: 0 0 calc(33.3333333333% - 9.3333333333px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 16px 8px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  border: none;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: rgba(2, 5, 29, 0.5);
  transition: transform ease-in-out 0.12s;
  will-change: transform;
  cursor: pointer;
}
@media (max-width: 360px) {
  .first-screen__button {
    flex: 0 0 calc(50% - 7px);
  }
}
.first-screen__button:hover {
  transform: scale(1.015);
}
.first-screen__button:active {
  transform: scale(1);
}
.first-screen__button::before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.first-screen__button_compatibility {
  word-break: break-all;
}
.first-screen__button_compatibility::before {
  background-image: url(../assets/compatibility.svg);
}
.first-screen__button_horoscope::before {
  background-image: url(../assets/horoscope.svg);
}
.first-screen__button_namehoroscope::before {
  background-image: url(../assets/name-horoscope.svg);
}
.first-screen__button_referral {
  word-break: break-all;
}
.first-screen__button_referral::before {
  background-image: url(../assets/referral.svg);
}

.controls-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;
}
.controls-top__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 51px;
  min-width: 51px;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  border-radius: 48px;
  border: none;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: url(../assets/round-button-bg.svg) center no-repeat;
  background-size: contain;
  transition: transform ease-in-out 0.12s;
  will-change: transform;
  cursor: pointer;
}
.controls-top__button:hover {
  transform: scale(1.06);
}
.controls-top__button:active {
  transform: scale(1);
}
.controls-top__button_profile:before {
  content: "";
  display: inline-block;
  height: 21px;
  width: 17px;
  background: url(../assets/auth.svg) center no-repeat;
  background-size: contain;
}
.controls-top__button_refresh {
  width: 75px;
  background-image: url(../assets/elipse-button-bg.svg);
  background-size: contain;
}
.controls-top__button_refresh:before {
  content: "";
  display: inline-block;
  height: 21px;
  width: 21px;
  background: url(../assets/refresh.svg) center no-repeat;
  background-size: contain;
}
.controls-top__button_close:before {
  content: "";
  display: inline-block;
  height: 23px;
  width: 23px;
  background: url(../assets/close.svg) center no-repeat;
  background-size: contain;
}

.excellent {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}
@keyframes rotateForward {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.excellent__title {
  margin: 0 0 6px;
  font-weight: 600;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}
.excellent__description {
  margin: 0 0 46px;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}
.excellent__horoscope {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.excellent__horoscope-outter {
  width: 100%;
  aspect-ratio: 1/1;
  background: url(../assets/horo-outter.png) center no-repeat;
  background-size: contain;
  animation: rotateForward 30s infinite linear;
}
.excellent__horoscope-inner {
  position: absolute;
  width: 28.1978%;
  aspect-ratio: 1/1;
  background: url(../assets/horo-inner.png) center no-repeat;
  background-size: contain;
  animation: rotateBack 30s infinite linear;
}
.excellent__buttons {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.excellent__button {
  display: inline-block;
  width: 168px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  border: none;
  border-radius: 48px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: url(../assets/close-button-bg.png) center no-repeat;
  transition: transform ease-in-out 0.12s;
  will-change: transform;
  cursor: pointer;
}
.excellent__button:hover {
  transform: scale(1.02);
}
.excellent__button:active {
  transform: scale(1);
}

.service-info__content {
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 35px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background-color: rgba(2, 5, 29, 0.5);
}
.service-info__content-title {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 18px 20px;
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
  background: url(../assets/content-title-bg.png) center no-repeat;
  background-size: cover;
  background-color: rgba(30, 30, 43, 0.6);
}
.service-info__content-title::before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.service-info__content-title_compatibility::before {
  background-image: url(../assets/compatibility.svg);
}
.service-info__content-title_horoscope::before {
  background-image: url(../assets/horoscope.svg);
}
.service-info__content-main {
  padding: 20px;
}
.service-info__text {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  color: #fff;
}
.service-info__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 10px;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #fff;
  opacity: 0.8;
}
.service-info__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px 20px;
  margin: 20px 0 0;
  flex-wrap: wrap;
}
.service-info__buttons .button {
  flex: 1 1 auto;
  padding: 10px 30px 11px;
}
.service-info__buttons .button_secondary {
  padding: 10px 20px 11px;
}

.profile {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(30, 28, 43, 0.8) 0%, rgba(30, 28, 43, 0.2) 100%);
}
.profile__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 275px;
  height: 46px;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #fff;
  border: none;
  border-radius: 48px;
  background: url(../assets/referral-button-bg.svg) center no-repeat;
  background-size: contain;
}
.profile__title-button {
  display: inline-block;
  width: 275px;
  height: 46px;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #fff;
  border: none;
  border-radius: 48px;
  background: url(../assets/referral-button-bg.svg) center no-repeat;
  background-size: contain;
  transition: transform ease-in-out 0.12s;
  will-change: transform;
  cursor: pointer;
}
.profile__title-button:hover {
  transform: scale(1.015);
}
.profile__title-button:active {
  transform: scale(1);
}
.profile__form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.profile__form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.profile__form-info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.profile__form-time {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;
}
.profile__form-time > * {
  flex: 1 1 160px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.profile__form-time > * > span {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.8);
}
.profile__form-time input {
  width: 100%;
}
.profile__form-buttons {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  transform: rotate(180deg);
}
.profile__form-buttons .button {
  display: inline-block;
  height: 45px;
  padding: 11px 48px;
  transform: rotate(180deg);
}
.profile__form-buttons .button:hover {
  transform: rotate(180deg) scale(1.02);
}
.profile__form-buttons .button:active {
  transform: rotate(180deg) scale(1);
}
.profile__form-sex {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 49px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
}
.profile__form-sex-label {
  display: block;
  height: 49px;
  width: 49px;
  border-radius: 49px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21px;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color ease-in-out 0.12s;
}
.profile__form-sex-label:last-child {
  margin-left: -4px;
}
.profile__form-sex-label_female {
  background-image: url(../assets/female.svg);
}
.profile__form-sex-label_male {
  background-image: url(../assets/male.svg);
}
.profile__form-sex-label-input {
  opacity: 0;
}
.profile__form-sex-label:has(input:checked) {
  background-color: #ffffff;
}

.referral {
  background: linear-gradient(180deg, rgba(30, 28, 43, 0.8) 0%, rgba(30, 28, 43, 0.2) 100%);
}
.referral__description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 50px 0 30px;
}
.referral__description-text {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}
.referral__main-title {
  margin: 0 0 6px;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.referral__main-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 14px 16px;
  border-radius: 59px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background-color: rgba(2, 5, 29, 0.5);
}
.referral__main-link-text {
  max-width: calc(100% - 20px);
  overflow: hidden;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #fff;
  text-overflow: ellipsis;
}
.referral__main-link-button {
  flex: 0 0 auto;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  background: url(../assets/copy.svg) center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.compatibility {
  background: linear-gradient(180deg, rgba(30, 28, 43, 0.8) 0%, rgba(30, 28, 43, 0.2) 100%);
}
.compatibility__form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.compatibility__form > fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.compatibility__form-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}
.compatibility__form-title_last {
  margin-top: 16px !important;
}
.compatibility__form-name {
  display: flex;
  align-items: center;
  gap: 14px;
}
.compatibility__form-name::after {
  content: "";
  flex: 0 0 auto;
  display: block;
  width: 49px;
  height: 49px;
  border-radius: 49px;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21px;
}
.compatibility__form-name_female::after {
  background-image: url(../assets/female.svg);
}
.compatibility__form-name_male::after {
  background-image: url(../assets/male.svg);
}
.compatibility__form-time {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;
}
.compatibility__form-time > * {
  flex: 1 1 160px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.compatibility__form-time > * > span {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.8);
}
.compatibility__form-buttons {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  margin-top: 16px !important;
}
.compatibility__form-buttons .button {
  padding: 11px 48px;
}

.horoscope {
  background: linear-gradient(180deg, rgba(30, 28, 43, 0.8) 0%, rgba(30, 28, 43, 0.2) 100%);
}
.horoscope__form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.horoscope__form > fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.horoscope__form-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}
.horoscope__form-title_last {
  margin-top: 16px !important;
}
.horoscope__form-name {
  display: flex;
  align-items: center;
  gap: 14px;
}
.horoscope__form-time {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;
}
.horoscope__form-time > * {
  flex: 1 1 160px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.horoscope__form-time > * > span {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.8);
}
.horoscope__form-buttons {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  margin-top: 16px !important;
}
.horoscope__form-buttons .button {
  padding: 11px 48px;
}