.first-screen {
  display: flex;
  flex-direction: column;

  &__buttons {
    flex: 1 1 auto;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 14px;
  }

  &__button {
    flex: 0 0 calc(100% / 3 - 14px * 2 / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 12px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    word-break: break-all;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    background: rgba(2, 5, 29, 0.5);
    transition: transform ease-in-out 0.12s;
    will-change: transform;
    cursor: pointer;

    &:hover {
      transform: scale(1.015);
    }

    &:active {
      transform: scale(1);
    }

    &::before {
      content: '';
      display: block;
      height: 40px;
      width: 40px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &_compatibility {
      &::before {
        background-image: url(../assets/compatibility.svg);
      }
    }

    &_horoscope {
      &::before {
        background-image: url(../assets/horoscope.svg);
      }
    }
  }
}
