.profile {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba($color: #1e1c2b, $alpha: 0.8) 0%,
    rgba($color: #1e1c2b, $alpha: 0.2) 100%
  );

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 275px;
    height: 46px;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    color: #fff;
    border: none;
    border-radius: 48px;
    background: url(../assets/referral-button-bg.svg) center no-repeat;
    background-size: contain;

    &-button {
      display: inline-block;
      width: 275px;
      height: 46px;
      padding: 0;
      box-sizing: border-box;
      font-weight: 600;
      font-size: 15px;
      line-height: 130%;
      color: #fff;
      border: none;
      border-radius: 48px;
      background: url(../assets/referral-button-bg.svg) center no-repeat;
      background-size: contain;
      transition: transform ease-in-out 0.12s;
      will-change: transform;
      cursor: pointer;

      &:hover {
        transform: scale(1.015);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  &__form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 14px;

    & fieldset {
      padding: 0;
      margin: 0;
      border: none;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    &-time {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 14px;

      & > * {
        flex: 1 1 160px;
        display: flex;
        flex-direction: column;
        gap: 6px;

        & > span {
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          color: rgba(255, 255, 255, 0.8);
        }
      }

      & input {
        width: 100%;
      }
    }

    &-buttons {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      transform: rotate(180deg);

      & .button {
        display: inline-block;
        height: 45px;
        padding: 11px 48px;
        transform: rotate(180deg);

        &:hover {
          transform: rotate(180deg) scale(1.02);
        }

        &:active {
          transform: rotate(180deg) scale(1);
        }
      }
    }

    &-sex {
      display: flex;
      align-items: center;
      width: fit-content;
      border-radius: 49px;
      backdrop-filter: blur(5px);
      background-color: rgba(255, 255, 255, 0.1);

      &-label {
        display: block;
        height: 49px;
        width: 49px;
        border-radius: 49px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 21px;
        background-color: rgba($color: $white, $alpha: 0);
        transition: background-color ease-in-out 0.12s;

        &:last-child {
          margin-left: -4px;
        }

        &_female {
          background-image: url(../assets/female.svg);
        }

        &_male {
          background-image: url(../assets/male.svg);
        }

        &-input {
          opacity: 0;
        }
      }

      &-label:has(input:checked) {
        background-color: $white;
      }
    }
  }
}
