.referral {
  background: linear-gradient(
    180deg,
    rgba($color: #1e1c2b, $alpha: 0.8) 0%,
    rgba($color: #1e1c2b, $alpha: 0.2) 100%
  );

  &__description {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 50px 0 30px;

    &-text {
      margin: 0;
      font-weight: 500;
      font-size: 15px;
      line-height: 130%;
      text-align: center;
      color: #fff;
    }
  }

  &__main {
    &-title {
      margin: 0 0 6px;
      font-weight: 400;
      font-size: 15px;
      line-height: 130%;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 10px;
      padding: 14px 16px;
      border-radius: 59px;
      backdrop-filter: blur(8px);
      background-color: rgba(2, 5, 29, 0.5);

      &-text {
        max-width: calc(100% - 20px);
        overflow: hidden;
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
        color: #fff;
        text-overflow: ellipsis;
      }

      &-button {
        flex: 0 0 auto;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: none;
        background: url(../assets/copy.svg) center no-repeat;
        background-size: contain;
        cursor: pointer;
      }
    }
  }
}
